.input {
    display: flex;
    flex-direction: column;
}

.inputField {
    border-radius: 10px;
    inline-size: auto;
    block-size: 20px;
    padding: 5px;
}

.inputLabel {
    font-size:x-small;
    padding-inline-start: 7px;
    padding-block-end: 2px;
}