.input {
  display: flex;
  flex-direction: column;
}

.inputField {
  border-radius: 8px;
  inline-size: 100%;
  padding: 12px 16px;
}

.inputLabel {
  font-size: x-small;
  padding-inline-start: 7px;
  padding-block-end: 2px;
}