.input {
    display: flex;
    flex-direction: column;
}

.inputField {
    border-radius: 10px;
    inline-size: 150px;
    block-size: 20px;
    padding: 5px;
}

.inputLabel {
    font-size:x-small;
    padding-left: 7px;
    padding-bottom: 2px;
}