.wrapper {
  display: flex;
  inline-size: fit-content;
  gap: 16px;
  align-items: center;
  text-decoration: none;
  color: unset;
}

.profilePicture {
  border-radius: 50%;
  max-inline-size: 48px;
  block-size: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.userName {
  font-size: 1rem;
  font-weight: bold;
}

.postTime {
  font-size: 0.75rem;
  opacity: 0.8;
}
